# Parsing APIs Example

## Intro

Now we will take a look on a real data. When you parse data from web you will often meet API based web-pages. 

For example [zalando.fr](https://www.zalando.fr/accueil-homme/) is API based web-page. 

In this guided lab you will learn how to obtain the links from webpages and extract the data. Read through this doc, execute the cells in order and make sure you understand the explanations. 

*Note: This guided lab uses Google Chrome. Other browsers like Safari and Firefox have similar tools for developers but they work differently. To save your time in following this lab, it is strongly recommended that you install and use Google Chrome.*

## Obtaining the link

Zalando is discount e-store where you can buy clothes and accesories with discount. When we go to the web-page, we can choose different sections. First the general process will be shown using [Children section](https://www.zalando.fr/accueil-enfant/) as example.

Here we will parse data about promotions only. Therefore, final output will be the DataFrame with all the goods under discount.

[![Image from Gyazo](https://i.gyazo.com/fa4874d8e81c7570273bbfb853d66308.png)](https://gyazo.com/fa4874d8e81c7570273bbfb853d66308)


We go to Promos page. Right click of mouse shows us a list of actions possible, from which we select Inspect.

<img src='https://i.gyazo.com/bccbd11d69c9040dc98758d443e32052.png' width="400">


You will see the menu dropdown on the right side or on the bottom of the window. There you should click on Network:


[![Image from Gyazo](https://i.gyazo.com/f7e0db81cbfee67694183d1a7640bf81.png)](https://gyazo.com/f7e0db81cbfee67694183d1a7640bf81)

Right after the developer part will change showing the files behind the page. In order to obtain only useful files we select the following settings:
1. Preserve Log
2. Select XHR files.

[![Image from Gyazo](https://i.gyazo.com/9a899d4441d9d93e795f79747f1e47d5.png)](https://gyazo.com/9a899d4441d9d93e795f79747f1e47d5)

In order to obtain some files we need to scrool down and go forward to second page. 

[![Image from Gyazo](https://i.gyazo.com/0956eb3d5125075a236c9a439c7749c7.png)](https://gyazo.com/0956eb3d5125075a236c9a439c7749c7)

In the Network panel you can see the following files being uploaded. All the data on the web-page is uploaded from the json file, which is one of the following. It is important to understand which file contains what kind of information. 

<a href="https://gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c"><img src="https://i.gyazo.com/cf97a655869f0b22df0ada1cb2a41c3c.png" alt="Image from Gyazo" width="724.8"/></a>

When you find what kind of information you need for the data to be uploaded you just test it. Here we need the article... file:

<a href="https://gyazo.com/78b35bf492994b3f35c0564a21da202a"><img src="https://i.gyazo.com/78b35bf492994b3f35c0564a21da202a.png" alt="Image from Gyazo" width="727.2"/></a>

When we test the link in Chrome inkognito mode we obtain the proper json file:


<a href="https://gyazo.com/b60453fa98454fa29771c731a5174443"><img src="https://i.gyazo.com/b60453fa98454fa29771c731a5174443.png" alt="Image from Gyazo" width="1530.4"/></a>

In order to change the objects in the json file (kind of pagination), you need to change the offset (the number of the first element on the page). in fact, if you take a look on the link, it is easy to unerstand the structure of the link.

# Reading the data

Now the party rocks! When we know how can we obtain the data, it is not a problem to obtain the whole database with all the data from the web-page.
In this lab you will collect your database of Zalando products. You select which goods you want to track. You can define as many filters to your data as you want. Just make sure that the data represents the filters.

In [1]:
import json
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
# Paste the url you obtained for your data
url='https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset=84&sort=sale'

#### Collect first 84 object of the of the data (1st page)

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having *family_articles, flags, media* and *sizes* remaining lists (they are exceptions). Hint: use the headers parameter to get the data!

In [3]:
# headers definition
headers = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/75.0.3770.90 Chrome/75.0.3770.90 Safari/537.36'}

In [4]:
# Your code
response = requests.get(url, headers = headers)
results = response.json()

In [5]:
flattened_data = json_normalize(results)
flattened_data.head()

,articles,articlesToShow,breadcrumbs,carouselTeaser,categoryTree,collection,contentPositions.entry-point-teasers,contentPositions.in-cat-carousel,contentPositions.in-cat-carousel-fullwidth,contentPositions.in-cat-carousel-mobile,...,total_article_count,total_count,upperInCatTeaser,variants.fullWidthCatalog,variants.hideCategories,variants.mobileLightFilters,variants.myBrandsFilter,variants.outwardTeaserCard,variants.premiumCatalog,wishlist
0,"[{'sku': 'ES124A08B-K11', 'name': 'PANTS - Jea...",84,"[{'items': [{'label': 'Enfant', 'url_key': 'en...",None,"[{'label': 'Promotions', 'id': '9574', 'url_ke...",None,"[7, 14, 20, 26]",9,8,6,...,19943,19949,None,False,False,False,True,False,False,None

In [6]:
articles = json_normalize(flattened_data.articles[0])
articles.head()

,amount,brand_name,family_articles,flags,is_premium,media,name,price.has_different_original_prices,price.has_different_prices,price.has_different_promotional_prices,price.has_discount_on_selected_sizes_only,price.original,price.promotional,product_group,sizes,sku,url_key
0,NaN,Esprit,"[{'sku': 'ES124A08B-K11', 'url_key': 'esprit-p...","[{'key': 'discountRate', 'value': 'Jusqu’à -70...",False,[{'path': 'ES/12/4A/08/BK/11/ES124A08B-K11@2.j...,PANTS - Jean slim - medium wash,False,True,True,False,"35,99 €","10,80 €",clothing,"[2a, 3a, 4a, 5a, 6a, 7a, 8a]",ES124A08B-K11,esprit-pants-jean-slim-medium-wash-es124a08b-k11
1,NaN,Converse,"[{'sku': 'CO423G016-Q11', 'url_key': 'converse...","[{'key': 'discountRate', 'value': '-60%', 'tra...",False,[{'path': 'CO/42/3G/01/6Q/11/CO423G016-Q11@5.j...,WORLDWIDE FEMME TEE - T-shirt imprimé - black,False,False,False,False,"29,95 €","12,00 €",clothing,"[8-10a, 10-12a, 12-13a, 13-15a]",CO423G016-Q11,converse-worldwide-femme-tee-t-shirt-imprime-b...
2,NaN,Re-Gen,"[{'sku': 'RG524K00Q-K11', 'url_key': 're-gen-t...","[{'key': 'discountRate', 'value': '-70%', 'tra...",False,[{'path': 'RG/52/4K/00/QK/11/RG524K00Q-K11@5.j...,TEENS - Pullover - blue nights,False,False,False,False,"29,95 €","9,00 €",clothing,"[10a, 12a, 14a, 16a]",RG524K00Q-K11,re-gen-teens-pullover-blue-nights-rg524k00q-k11
3,NaN,MOSCHINO,"[{'sku': '6MO24K008-K11', 'url_key': 'moschino...","[{'key': 'discountRate', 'value': '-70%', 'tra...",True,[{'path': '6M/O2/4K/00/8K/11/6MO24K008-K11@7.j...,HOODED - Sweatshirt - baya blue maramao,False,True,True,False,"159,95 €","48,00 €",clothing,"[4a, 6a, 8a, 10a, 12a, 14a]",6MO24K008-K11,moschino-hooded-sweatshirt-baya-blue-maramao-6...
4,NaN,GAP,"[{'sku': 'GP024G0EC-B11', 'url_key': 'gap-todd...","[{'key': 'discountRate', 'value': '-70%', 'tra...",False,[{'path': 'GP/02/4G/0E/CB/11/GP024G0EC-B11@2.j...,TODDLER BOY TANK - Débardeur - new off white,False,False,False,False,"9,95 €","3,00 €",clothing,"[2a, 3a, 4a, 5a, 12-18m, 18-24m]",GP024G0EC-B11,gap-toddler-boy-tank-debardeur-gp024g0ec-b11

#### Collect all the objects from selected filters. Total number of pages can be found in the same json. Use *sku* column as index.

Your output should be a Pandas DataFrame of goods. Each row should contain only text or numbers, having family_articles, flags, media and sizes remaining lists (they are exceptions).

In [8]:
# Get the total number of pages
total_pages = results['pagination']['page_count']

df = pd.DataFrame()
for i in range(total_pages):
    art_per_page = i*84
    url_loop = 'https://www.zalando.fr/api/catalog/articles?categories=promo-enfant&limit=84&offset='+str(art_per_page)+'&sort=sale'
    results_loop = requests.get(url_loop, headers = headers).json()
    flattened_data_loop = json_normalize(results_loop)
    articles_loop = json_normalize(flattened_data_loop.articles[0])
    df = df.append(articles_loop)

In [9]:
df= df.set_index('sku')

In [10]:
df.shape

(19945, 19)

#### Display the trending brand in DataFrame

In [12]:
# your code
df['brand_name'].value_counts().head(1)

Friboo    885
Name: brand_name, dtype: int64

#### Display the brand with maximal total discount (sum of discounts on all goods)

In [15]:
#Our data is still text. Convert prices into numbers.
# your code
df['price.original'] = df['price.original'].str.replace(' ','',regex=True)
df['price.original'] = df['price.original'].str.replace('€','',regex=True)
df['price.original'] = df['price.original'].str.replace(',','.',regex=True).astype(float)
df['price.original']

sku
LT123A00U-C13     49.95
LT123C00A-K12     39.95
LT124C00H-K12     39.95
NI114D095-G11    144.95
NI114D0A8-K11    144.95
AD116D0K3-Q11     59.95
CO416A03L-802     49.95
NI114D0AF-Q11     84.95
LA224G01L-E14     25.00
NI114D0A1-C11     94.95
NI114F00V-C11     59.95
LA213D01D-A11     69.95
NI114D095-B11    144.95
NI114D0A1-C12     94.95
TO184A00H-A11     25.95
LT124C00E-K16     44.95
LT124A00W-C11     49.95
ME143B008-I11     54.95
AD124G02C-A11     24.95
AD116D0GW-A11     64.95
CO423G018-A11     34.95
NI113D075-Q11     99.95
AD116D0KO-J11     99.95
QU124G066-Q11     15.99
AD116D0JE-A11     54.95
A0F24K01I-Q11     43.95
AD116D0K2-C11     89.95
GP024G0EL-G11     12.95
NI114D0AA-G11     54.95
NI114D0AD-Q11     89.95
                  ...
WO816D007-M11     89.95
WO816D00M-M11     74.95
GP084B04P-T11     34.95
S1584A013-K11     39.95
TEB84B001-C11     27.95
MOC84B02D-K11     21.95
D2453M00F-K11     12.00
N1423B08J-K11     34.99
N1426G028-K11     19.99
N1424C014-Q11     22.99
N1423K022-J11     30.99
N1423G094-J11     22.99
N1424G09W-O11     29.99
N1424G0AM-M11     24.99
N1424A04M-K11     39.99
N1424A04K-K11     39.99
NOG23G00N-J11     24.99
N1421J00A-G11     24.99
N1426G02J-K11     17.99
NA823J0D0-M11     19.99
N1424G0AG-A11     19.99
N1423F06X-Q11     39.99
N1423F06R-G11     34.99
P6824G08G-K11     19.99
NX324D03C-K11     34.95
N1426G028-A11     19.99
N1423G08F-G11     22.99
P6824G08E-G11     19.99
N1422G000-O11     37.99
N1422S000-C11     29.99
Name: price.original, Length: 19945, dtype: float64

In [16]:
df['price.original'] = pd.to_numeric(df['price.original'],downcast='signed')

In [17]:
df['price.promotional'] = df['price.promotional'].str.replace('€','',regex=True)
df['price.promotional'] = df['price.promotional'].str.replace(',','.',regex=True)
df['price.promotional'] = df['price.promotional'].str.replace(' ','',regex=True).astype(float)
df['price.promotional']

sku
LT123A00U-C13    25.00
LT123C00A-K12    28.00
LT124C00H-K12    24.00
NI114D095-G11    43.00
NI114D0A8-K11    58.00
AD116D0K3-Q11    18.00
CO416A03L-802    25.00
NI114D0AF-Q11    34.00
LA224G01L-E14    17.00
NI114D0A1-C11    38.00
NI114F00V-C11    24.00
LA213D01D-A11    21.00
NI114D095-B11    58.00
NI114D0A1-C12    38.00
TO184A00H-A11    20.76
LT124C00E-K16    29.00
LT124A00W-C11    32.47
ME143B008-I11    43.95
AD124G02C-A11    22.45
AD116D0GW-A11    39.00
CO423G018-A11    10.49
NI113D075-Q11    40.00
AD116D0KO-J11    29.95
QU124G066-Q11     8.00
AD116D0JE-A11    35.72
A0F24K01I-Q11    17.58
AD116D0K2-C11    26.95
GP024G0EL-G11     5.83
NI114D0AA-G11    27.48
NI114D0AD-Q11    72.00
                 ...
WO816D007-M11    89.95
WO816D00M-M11    74.95
GP084B04P-T11    34.95
S1584A013-K11    39.95
TEB84B001-C11    27.95
MOC84B02D-K11    21.95
D2453M00F-K11    12.00
N1423B08J-K11    34.99
N1426G028-K11    19.99
N1424C014-Q11    22.99
N1423K022-J11    30.99
N1423G094-J11    22.99
N1424G09W-O11    29.99
N1424G0AM-M11    24.99
N1424A04M-K11    39.99
N1424A04K-K11    39.99
NOG23G00N-J11    24.99
N1421J00A-G11    24.99
N1426G02J-K11    17.99
NA823J0D0-M11    19.99
N1424G0AG-A11    19.99
N1423F06X-Q11    39.99
N1423F06R-G11    34.99
P6824G08G-K11    19.99
NX324D03C-K11    34.95
N1426G028-A11    19.99
N1423G08F-G11    22.99
P6824G08E-G11    19.99
N1422G000-O11    37.99
N1422S000-C11    29.99
Name: price.promotional, Length: 19945, dtype: float64

In [19]:
df['price.promotional'] = pd.to_numeric(df['price.promotional'],downcast='signed')

In [20]:
df['price.promotional']

sku
LT123A00U-C13    25.00
LT123C00A-K12    28.00
LT124C00H-K12    24.00
NI114D095-G11    43.00
NI114D0A8-K11    58.00
AD116D0K3-Q11    18.00
CO416A03L-802    25.00
NI114D0AF-Q11    34.00
LA224G01L-E14    17.00
NI114D0A1-C11    38.00
NI114F00V-C11    24.00
LA213D01D-A11    21.00
NI114D095-B11    58.00
NI114D0A1-C12    38.00
TO184A00H-A11    20.76
LT124C00E-K16    29.00
LT124A00W-C11    32.47
ME143B008-I11    43.95
AD124G02C-A11    22.45
AD116D0GW-A11    39.00
CO423G018-A11    10.49
NI113D075-Q11    40.00
AD116D0KO-J11    29.95
QU124G066-Q11     8.00
AD116D0JE-A11    35.72
A0F24K01I-Q11    17.58
AD116D0K2-C11    26.95
GP024G0EL-G11     5.83
NI114D0AA-G11    27.48
NI114D0AD-Q11    72.00
                 ...
WO816D007-M11    89.95
WO816D00M-M11    74.95
GP084B04P-T11    34.95
S1584A013-K11    39.95
TEB84B001-C11    27.95
MOC84B02D-K11    21.95
D2453M00F-K11    12.00
N1423B08J-K11    34.99
N1426G028-K11    19.99
N1424C014-Q11    22.99
N1423K022-J11    30.99
N1423G094-J11    22.99
N1424G09W-O11    29.99
N1424G0AM-M11    24.99
N1424A04M-K11    39.99
N1424A04K-K11    39.99
NOG23G00N-J11    24.99
N1421J00A-G11    24.99
N1426G02J-K11    17.99
NA823J0D0-M11    19.99
N1424G0AG-A11    19.99
N1423F06X-Q11    39.99
N1423F06R-G11    34.99
P6824G08G-K11    19.99
NX324D03C-K11    34.95
N1426G028-A11    19.99
N1423G08F-G11    22.99
P6824G08E-G11    19.99
N1422G000-O11    37.99
N1422S000-C11    29.99
Name: price.promotional, Length: 19945, dtype: float64

In [21]:
df['discount'] = df['price.original'] - df['price.promotional']

In [22]:
pivot_discount = pd.pivot_table(df, values=['discount'], 
                                index=['brand_name'], 
                                aggfunc=np.sum).sort_values(by='discount',
                                                            ascending=False)
pivot_discount.head(1)

            discount
brand_name
Friboo       8920.21

#### Display the brands without discount at all

Esto es el equivalente a la "WHERE" clause en SQL. Los primeros corchetes son el SELECT, el .loc es el 'WHERE' y lo que hay dentro de los corchetes es la condición.

In [23]:
pivot_not_discounted = pivot_discount[['discount']].loc[pivot_discount['discount'] == 0]

In [24]:
pivot_not_discounted.head()

            discount
brand_name
Teva             0.0